// .pullquote-paragraph{
//   color: #333 !important;
// }
//
// .drop-cap{
//   color: #333 !important;
// }
//
// .in-body-link--immersive{
//   color: #333 !important;
// }

$accent-color: #b82266;


@import "fonts";

.immersive-main-media__headline-container{
  background-color: none !important;
}


#article{
h2{
  position: relative;
  margin-top: -52px;
  margin-right: 12px;
  margin-bottom: 2px;
  margin-left: 70px !important;
  font-size: 22px !important;
  line-height: 27px !important;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: 900 !important;
  color: $accent-color;
}


@media all and (min-width: 740px) {
      h2{
        margin-top: -54px;
        margin-right: 12px;
        margin-bottom:2px;
        margin-left: 80px !important;
        font-size: 22px !important;
        line-height: 28px !important;
      }
} 
 
sup {
  position: relative;
  display: inline; 
  float: left !important;
  margin-left: 70px !important;
  margin-top: 3px !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: "Guardian Text Egyptian Web", Georgia, serif;
  font-weight: normal;
  font-weight: 400;
  vertical-align: none !important;
  @media screen and (min-width: 740px) {
      margin-top: 0 !important;
      font-size: 18px !important;
      line-height: 28px !important;
      margin-left: 80px !important;
    }
}

sub {
  position: relative;
  display: inline; 
  font-size: 60px !important;
  margin: 0 0 36px !important;
  line-height: 24px !important;
  font-family: "Guardian Sans Web", Georgia, serif;
  font-weight: normal;
  font-weight: 100;
  color:  $accent-color !important;  
  vertical-align: none !important;

}



.in-body-link--immersive {
    color: $accent-color;
}


p:before {
          content: "";
          display: table;
          clear: both;
          height: 6px;
        }


        /* clearfix */
	        p:after {
	          content: "";
	          display: table;
	          clear: both;
	        }

.submeta__head {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
    color: #767676 !important;
    font-weight: bold !important;
    padding: 0.25rem 0 0.75rem !important;
    float: left !important;
    margin-right: 0.625rem !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

    
}


.element--immersive{
   margin-bottom: 0 !important;
}
